<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/jw.png' | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <div class="nav-container">
        <ul>
          <li><a href="{{ '/' | relative_url }}" class="{{ 'active' if page.url == '/' }}">Home</a></li>
          <li><a href="{{ '/portfolio/' | relative_url }}" class="{{ 'active' if page.url == '/portfolio/' or page.url == '/portfolio' }}">Portfolio</a></li>
          <li><a href="{{ '/about/' | relative_url }}" class="{{ 'active' if page.url == '/about/' or page.url == '/about' }}">About</a></li>
          <li><a href="{{ '/contact/' | relative_url }}" class="{{ 'active' if page.url == '/contact/' or page.url == '/contact' }}">Contact</a></li>
        </ul>
      </div>
    </nav>
    <h1>{{ page.title }}</h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>© 2025 Jerrick Wang</p>
  </footer>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
