<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/jw.png' | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <img src="{{ '/jw2.png' | relative_url }}" alt="Logo">
          <span class="logo-name">jerrick wang</span>
        </div>
        <ul>
          <li><a href="{{ '/' | relative_url }}" >home</a></li>
          <li><a href="{{ '/portfolio/' | relative_url }}" >portfolio</a></li>
          <li><a href="{{ '/updates/' | relative_url }}" >updates</a></li>
          <li><a href="{{ '/about/' | relative_url }}" >about</a></li>
          <li><a href="{{ '/contact/' | relative_url }}" >contact</a></li>
        </ul>
      </div>
    </nav>
    <h1>{{ page.title }}</h1>
  </header>

  <main style="max-width: 95%; margin: 0 auto; text-align: center;">
    {{ content }}
  </main>

  <!-- Modal for full-screen image -->
  <div id="imageModal" style="display: none;">
    <span id="close" style="font-size: 30px; cursor: pointer;">&times;</span>
    <img id="modalImage" src="" alt="Modal Image" />
  </div>

<footer>
  <p>© 2025 jerrickwang.github.io | all rights reserved</p>
  <a href="https://instagram.com/majorwangpics" target="_blank" rel="noopener noreferrer">
    <img src="{{ '/assets/instagram.svg' | relative_url }}" alt="Instagram" style="height: 20px;">
  </a>
</footer>

  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
